@import "./node_modules/normalize.css/normalize.css";

@import "./fonts/cutive.css";
@import "./fonts/emoji.css";
@import "./fonts/fira.css";
@import "./fonts/fira_code.css";
@import "./fonts/futura.css";
@import "./fonts/jenson.css";
@import "./fonts/jost.css";
@import "./fonts/GoudyNoto.css";
@import "./fonts/sharetech.css";
@import "./fonts/wto.css";
@import "./fonts/itcgoudysansstd.css";

/******************************************************************************/
/* PRINCE */
/******************************************************************************/

@page {
  margin: 0;
  size: A4 landscape;

  @bottom {
    content: counter(page) "/" counter(pages);
    font-size: 80%;
  }
}

html,
body,
div.slide {
  height: 100%;
  text-align: justify;
  width: 100%;
}

div.slide {
  background-color: black;
  box-sizing: border-box;
  padding: 1cm 1cm 1cm 1cm;
  page-break-before: always;
  position: absolute;
}

.pagination {
  box-sizing: border-box;
  bottom: 5px;
  left: 0;
  color: gray;
  height: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.slide:nth-child(1) .pagination {
  display: none;
}

/******************************************************************************/
/* ELEMENTS */
/******************************************************************************/

p {
  margin: 0;
  padding: 0;
}

ul ul {
  font-size: 90%;
}

ul,
ol {
  margin: 1em;
}

ul {
  list-style: square;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 2em;
}

ul li,
ol li {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid gray;
}

th {
  font-weight: bold;
}

td {
  padding: 0.25em;
}

img {
  display: inline-block;
  max-height: 17cm;
  width: auto;
}

code,
pre {
  margin: 0;
}

/******************************************************************************/
/* TYPOGRAPHY */
/******************************************************************************/

/* automatically set by the script */
.colour {
  color: #16e7cf;
}

html {
  color: white;
  font-size: 200%;
  font-variant: prince-opentype(dlig, liga, hlig, onum);
}

body {
  font-family: GoudyNoto;
  font-weight: 300;
}

h1 {
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 100%;
  font-weight: normal;
  text-align: center;
}

code,
pre {
  font-family: "FiraCode" !important;
  font-size: 85%;
}

div.sourceCode {
  font-size: 69%;
}

hr {
  color: white;
}

a {
  color: #16e7cf;
  text-decoration: none;
}

img {
  filter: drop-shadow(3px 3px 3px #000000);
}

/******************************************************************************/
/* SPECIAL PAGES */
/******************************************************************************/

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.cover>div {
  text-align: center;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.title>* {
  margin: auto;
}

.title>div {
  text-align: center;
}

.c {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}